#Fri Jul 24 11:48:12 IST 2015
imi.fresh_no_check_dnd=Retryonroute1noDND_1437981556261
imi.cdr_file_notification_url=https\://*.nationalmhealth.in/obdmanager/NotifyCDRFileProcessedStatus
imi.fresh_check_dnd=Retryonroute1noDND_1437981556261
imi.target_file_time=16\:45
imi.sort.timeout=60000
imi.target_file_notification_url=https\://*.nationalmhealth.in/obdmanager/notifytargetfile
imi.local_cdr_dir=/usr/local/imi/cdr/
imi.scp.to_command=/usr/bin/scp {src} 192.168.200.1\:{dst}
imi.remote_obd_dir=/usr/local/imi/obd/
imi.max_query_block=1000
imi.initial_retry_delay=1
imi.remote_cdr_dir=/usr/local/imi/cdr/
imi.retry_no_check_dnd=Retryonroute2noDND_1437712754919
imi.sms.sender.id=nmsfoobar
imi.target_file_sec_interval=86400
imi.max_cdr_error_count=100
imi.sms.status.callback.url=http\://192.168.102.5\:8085/api/mobileacademy/smsdeliverystatus
imi.notification_retry_count=3
imi.scp.from_command=/bin/scp 192.168.200.1\:{src} {dst}
imi.retry_check_dnd=Retryonroute2noDND_1437712754919
imi.sms.course.completion.message=This is a foobar message that needs to be replaced
imi.sort.binary=/usr/bin/sort
imi.sms.notification.url=http\://192.168.102.5\:8085/smsmessaging/v1/outbound/nmssenderid/requests
imi.scp.timeout=60000
imi.local_obd_dir=/usr/local/imi/obd/
