#Sat Nov 07 10:54:19 IST 2015
imi.fresh_no_check_dnd=Retryonroute1noDND_1444132196827
imi.cdr_file_notification_url=https\://ivrapi.nationalmhealth.in/obdmanager/NotifyCDRFileProcessedStatus
imi.fresh_check_dnd=Retryonroute1noDND_1444132196827
imi.target_file_time=06\:00
imi.target_file_notification_url=https\://ivrapi.nationalmhealth.in/obdmanager/notifytargetfile
imi.sort.timeout=60000
imi.local_cdr_dir=/usr/local/imi/cdr/
imi.scp.to_command=/usr/bin/scp {src} 192.168.200.1\:{dst}
imi.remote_obd_dir=/usr/local/imi/obd/
imi.max_query_block=20000
imi.initial_retry_delay=1
imi.remote_cdr_dir=/usr/local/imi/cdr/
imi.retry_no_check_dnd=Retryonroute2noDND_1444132213332
imi.sms.sender.id=HEALTH
imi.target_file_sec_interval=86400
imi.max_cdr_error_count=100
imi.sms.status.callback.url=http\://127.0.0.1\:8443/motech-platform-server/module/api/mobileacademy/sms/status/imi
imi.notification_retry_count=3
imi.scp.from_command=/usr/bin/scp 192.168.200.1\:{src} {dst}
imi.retry_check_dnd=Retryonroute2noDND_1444132213332
imi.sms.authentication.key={{ smsauthkey }}
imi.sort.binary=/usr/bin/sort
imi.sms.course.completion.message=This is a foobar message that needs to be replaced
imi.sms.notification.url=https\://smsapi.nationalmhealth.in/smsmessaging/v1/outbound/tel\:opnhse/requests
imi.scp.timeout=60000
imi.local_obd_dir=/usr/local/imi/obd/
imi.cdr_csr.retention.duration=7
imi.use_http_timeout=true
imi.http_timeout_value=30000
