#
#Fri Apr 24 16:17:05 IST 2015
root=ERROR
org.motechproject.osgi.web=ERROR
org.motechproject=INFO
org.springframework.web=DEBUG
org.motechproject.nms=DEBUG
org.motechproject.scheduler.service.impl.MotechScheduler=ERROR
