#Tue Sep 29 14:36:03 IST 2015
sms.content.default=Badhai ho didi, apne Mobile Academy course pura kar liya hai. Certificate paane ke liye is SMS ko apne subcenter meeting mein dikhayen. No.
sms.content.01=Badhai ho didi, apne Mobile Academy course pura kar liya hai. Certificate paane ke liye is SMS ko apne subcenter meeting mein dikhayen. No.
sms.content.02=Badhai ho didi, apne Mobile Academy course pura kar liya hai. Certificate paane ke liye is SMS ko apne subcenter meeting mein dikhayen. No.

