#!/bin/bash
# monitor mysql status
# if this node mysql is dead and its slave delay less than 120 seconds, then stop its keepalived. The other node will bind the IP.
mysql -unagios -pnagiosadmin -e"SELECT 1"
if [ $? -ne 0 ]; then
  echo "mysql down"
  #sudo service keepalived stop
  exit 1 #bad
else
  echo "mysql up"
  exit 0 #good
fi
